<h1>Circuits</h1>

<table>
<tr>
<th>USI</th>
<th>CSA</th>
<th>From LID_FAC</th>
<th>To LID_FAC</th>
<th>Interface Type</th>
<th>NAS</th>
<th>SVC</th>
</tr>
<% @circuits.each do |circuit| %>

<tr>
<td><%= link_to circuit.usi, resource(@facility, circuit) %></td>
<td><%= circuit.csa %></td>
<td><%= circuit.from_facility %></td>
<td><%= circuit.to_facility %></td>
<td><%= circuit.nas %></td>
<td><%= circuit.from_interface_type %></td>
</tr>
<% end %>

</table>
