%h3= @facility.lid_fac

= link_to 'Back', resource(:facilities)
|
= link_to 'Edit', resource(@facility,:edit)

- throw_content(:sidebar) do
  %ul
    = link_to 'Circuits', resource(@facility, :circuits)
  %ul
    = link_to 'Sites', resource(:sites)

    