%p= text_field :name, :label => 'Name'
%p= text_field :lid, :label => 'LID'
%p= text_area :description, :label => 'Description', :size => 40
%p= text_area :directions, :label => 'Directions'
%p= text_field :latitude, :label => 'Latitude'
%p= text_field :longitude, :label =>'Longitude'