%h2 Sites

%table
  %tr
    %th LID
    %th Name
    %th Description
    %th{:span => 2} Actions
  - for site in @sites
    %tr
      %td= site.lid
      %td= site.name
      %td= site.description
      %td= link_to 'Show', resource(site)
      %td= link_to 'Edit', resource(site,:edit)
      %td= delete_button(site)
      
     
= link_to 'New', resource(:sites,:new)

