%p= @site.description
%p= @site.directions
%p= @site.gsa_address
%p= @site.latitude
%p= @site.longitude

- for facility in @site.facilities
 %p= link_to facility.lid_fac, resource(facility)


= link_to 'Edit', resource(@site,:edit)
|
= link_to 'Back', resource(:sites)

- throw_content :sidebar do
 %h3 Navigation
 = partial 'sidebar'


